@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
}
body{
    background: linear-gradient(180deg, #8012C4 0%, #00FFCD 100%);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
header::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-image: url('../img/header.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
header .foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
header .titulo{
    text-align: center;
}
.informacao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.informacao p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
    font-size: 1.13rem;
}
.informacap p::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
}
.informacao .job::before{
    background-image: url('../img/');
}
.informacao .localidade::before{
    background-image: url('../img/location.svg');
}
.informacao .email::before{
    background-image: url('../img/email.svg');
}
.informacao .fone::before{
    background-image: url('../img/phone.svg');
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.main::after{
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}
.janela{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 3px solid #070707;
    border-radius: 1rem;
    transition: .25s;
}
.janela.open,
.janela:hover{
    background-color: #8012c438;
    border-color: #070707;
}
.janela .abrir{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #FFFF;
    border: none;
}
.janela .abrir h2{
    margin: 0;
    font-size: 1.5rem;
    text-align: start;
}
.janela .abrir:hover{
    cursor: pointer;
}
.janela .abrir::after{
    content: '';
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;
    background-image: url('../img/arrow-top.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: .25s;
}
.janela.open .abrir::after{
    transform: rotate(180deg);
}
.janela .conteudo{
    overflow: hidden;
    height: 0;
    transition: opacity .25s ease-in-out;
}
.janela.open .conteudo{
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
}
.skills{
    display: flex;
    flex-direction: column;
}
.skills .ferramentas ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
#hardSkills li img{
    width: 100px;
}
.skills .ferramentas ul li img{
    max-width: 100px;
    max-height: 100px;
    margin: 0 0.5rem;
}
.skills .personal ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.skills .personal ul li{
    margin-left: 2rem;
    padding: 0.5rem;
}
.experiencia{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.experiencia li{
    margin-bottom: 1rem;
}
.experiencia li .period{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.idiomas{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.idiomas li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
    font-weight: 700;
}
.idiomas li::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/check.svg');
    margin-right: 0.5rem;
}
.portifolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.portifolio li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}
.portifolio li h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
}
.portifolio li h3.github::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/github.svg');
    margin-right: 0.5rem;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}
footer img{
    max-width: 200px;
}
@media screen and (min-width: 768px){
    header{
        display: grid;
        grid-template-areas:
        "foto titulo"
        "foto informacao"
        ;
    }
    header .foto{
        grid-area: foto;
        margin: 0 auto;
    }
    header .titulo{
        grid-area: titulo;
        text-align: start;
        max-width: 210px;
    }
    header .informacao{
        grid-area: informacao;
    }
    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }
    .main::before,
    .main::after{
        width: 70vw;
    }
    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}